
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cafetería - Editar Productos
    link(rel="stylesheet", href="/stylesheets/productosstyles.css")
  
  body
    div.header
      div.nav-links
        a(href="/") Caja
        a(href="#", style="text-decoration: underline;") Editar Productos
        a(href="/pedidos") Historial de Pedidos
        a(href="/corte") Corte
      div.title
        h1 Cafetería
    
    div.container
      div.category
        div.category-header
          h2.category-title Menú del día
          button.add-btn +
        div.products-grid
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
      
      div.category
        div.category-header
          h2.category-title A la carta
          button.add-btn +
        div.products-grid
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
      
      div.category
        div.category-header
          h2.category-title Bebidas
          button.add-btn +
        div.products-grid
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
          div.product-card
            div.product-image Imagen
            div.product-info
              div.product-name-price
                span Nombre
                span Precio
              div.product-actions
                button.action-btn Editar
                button.action-btn Eliminar
    
    script(src="/javascripts/productos.js")